# .venv folder
.venv/

# .vscode folder
.vscode/

# Binaries
*.exe
*.out
*.o

# Python
*.pyc
__pycache__/
.ipynb_checkpoints/

# Data files (too big for git)
*.csv
data/results/
data/samples/
test/test_results/
