# To Big for git
./data/results/*
./data/samples/*

# .venv folder
.venv/

# .vscode folder
.vscode/

# ignore binnaries
*.exe


# Add these to .gitignore
*.csv
*.out
*.o
*.pyc
__pycache__/
.ipynb_checkpoints/
data/results/
data/plots/
